name: Go

on:
  push:
    branches: 
      - main
      - omarTest
  pull_request:
    branches: 
     - main

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Test
      run: |
       cd backend
       export DB_FILE="./todo.db"
       export Port=":5000"
       go test -v ./...
    
    - name: code coverage
      run: |
        cd backend
        go test -cover
